body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container-graph-settings {
    display: grid;
    grid-template-columns: minmax(75%, auto) minmax(auto, 25%);
    grid-gap: 20px;
    padding: 20px;
    max-width: 1080px !important;
}

.container-data {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 20px;
    padding: 20px;
}

#column-file {
    padding: 20px;
    box-sizing: border-box;
}

#file-settings-button-container {
    margin: 20px;
}

#current-files-card {
    min-height: 100%;
}

#available-files-card {
    min-height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
}

.full-width-column {
    grid-column: 1 / span 2;
}

.left-column, .right-column {
    padding: 10px;
}

.list-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.opt-group0 {
    background-color: lightgray;
}

#column-file select {
    margin: 10px;
}

#column-file button {
    margin: 1px;
}

#column-file input {
    margin: 10px;
    width: 50%;
}

#file-settings-container {
    width: 100%;
}

.spectrum-settings {
    display: none;
}

.column-graph {
    padding: 20px;
    box-sizing: border-box;
}

#visualization-component {
    position: sticky;
    top: 0;
}

#visualization-container {
    position: sticky;
    top: 0;
}

.column-settings {
    padding: 20px;
    box-sizing: border-box;
    max-width: 100%;
}

.card {
    margin: 10px 0 10px 0;
}

.select-errorbar {
    margin: 2px 0 15px 0;
}

.form-checkbox {
    margin-top: 10px;
}

#column-main-input {
    width: 690px;
    height: auto;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    position: relative;
    left: -400px;
    display: none;
}

#column-display-list {
    list-style: decimal;
}

#column-display-list button {
    margin-left: 5px;
}

.column-input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.column-input-keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 15px;
}

.button-grid button {
    margin-bottom: 5px;
    width: 80px;
}

#input-display {
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
}

#input-display input {
    width: 100%;
    height: 100%;
}

#column-input-list {
    height: 170px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1);
    list-style: none;
    border: 1px solid #000000;
}

#column-input-list li {
    cursor: pointer;
}

#select-axis-x-scale {
    margin-bottom: 10px;
}

#select-axis-y-scale {
    margin-bottom: 10px;
}

.axis-range-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.axis-range-div input {
    width: 100%;
}

#has-error-bars-checkbox {
    margin-bottom: 10px;
}

#add-y-range {
    margin-top: 10px;
}

.select-hdus {
    margin-bottom: 5px;
}

.file-data-container {
    max-height: 500px;
    overflow-y: auto;
}

#table-header-data {
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

#table-data {
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

#bokeh-settings {
    display: none;
}

#d3-settings {
    display: none;
}

#light-curve-settings {
    display: none;
}

#spectrum-settings {
    display: none;
}

#hdus-settings {
    display: none;
}

#button-generate {
    width: 100%;
}

.inner-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

.visible {
    display: block !important;
}